{% extends 'base.html.twig' %}

{% block title %}Dodaj nowy plik{% endblock %}

{% block body %}
    <h1>Wprowadź plik z danymi</h1>
    {% if app.flashes('error') is defined %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p>Prosimy o wprowadzenie nowego pliku z danymi. Bezpośrednio po umieszczeniu go w formularzu dane zostaną załadowane do bazy a następnie przedstawione w formie wyników. Przetwarzanie danych może potrwać kilka minut.</p>
    <hr>
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Wybierz plik... <input type="file" style="display: none;" >
            </span>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
    <br><br>
    <div class="input-group">
        <button class="btn btn-primary send-file" type="submit" onclick="showLoading();"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Generuj</button>
        <div class="file-loading-box">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span>&nbsp;&nbsp;Ładowanie...</span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready( function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        });

        function showLoading() {
            $('.send-file').css('display', 'none');
            $('.loading-box').css('display', 'block');
        }
    </script>
{% endblock %}